{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    연구 안내 및 동의서
{% endblock %}

{% block content %}

    <p>
        본 연구는 1) 순발력 테스트, 2) 설문조사로 이루어져 있습니다.
    </p>

    <p>
        순발력 테스트에서는 최대한 빠른 응답속도를 요구하기 때문에 이로 인한 약간의 피로도가 발생할 수 있음을 알려드립니다. 두 가지 테스트에는 보통 5-10분 정도 소요됩니다.
    </p>

    <h4>
        연구 참여자의 권리
    </h4>
    <p>
        귀하께서는 참여에 동의하고 세부 과제를 시작하신 경우에도 중간에 본인의 의지에 따라 그만 둘 수 있습니다. 본 사이트는 IAT가 무엇인지 보여주기 위해 만들어진 것입니다.
        응답 내용은 주기적으로 파기되며, 연구에 사용하지 않습니다.
    </p>
    <p>
        위 내용에 동의하시면 아래 버튼을 클릭 하여 시작해주시기 바랍니다.
    </p>
    <br>
    <button class="btn btn-primary btn-large">
        저는 위 내용을 읽었으며, 위 내용에 동의합니다. 
    </button>

{% endblock %}
